:root {
    --white: #FFFFFF;
    --off-white: #EBEBE7;
    --black: #2A2A2A;
    --purple: #090979;
    --purple-less: rgba(9,9,121,0.8);
    --dark-purple: #191929;
    --dark-purple-less: rgba(25, 25, 41, 0.8);
    --cyan: #00d4ff;
    --dark-blue: #171D2E;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    /*font-family: 'Big Shoulders Display', cursive;*/
}
.inactive {
    display: none;
}

/*Estilos de cabecera*/

header {
    position: absolute;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: transparent;
}
header .header-logo-container {
    display: flex;
    justify-content: start;
    padding-left: 80px;
}
.header-logo-container .header-logo {
    width: 180px;
}
header .header-icons-container {
    display: flex;
    justify-content: end;
    padding-right: 80px;
}
.header--nav li {
    display: inline;
    text-decoration: none;
    margin-left: 12px;
}
.header--nav li img {
    width: 32px;
    height: 32px;
}
.header--nav li img:hover {
    opacity: 0.8;
}

/*Estilos Software Section*/

.main-software-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(243,243,243,0.8) 0%, rgba(0,212,255,0.8) 35%, rgba(9,9,121,0.8) 100%),
    url('../IMG/images/light-gray-concrete-wall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 80px;
}
h1 {
    font-family: 'Big Shoulders Display';
    font-size: 9.4rem;
    font-weight: 700;
    line-height: 10rem;
    text-transform: uppercase;
    color: var(--white);
}
.software--title {
    font-family: 'Big Shoulders Display';
    font-size: 9.4rem;
    font-weight: 700;
    line-height: 10rem;
    text-transform: uppercase;
    color: var(--white);
}
.formulas-main-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulas-welcome-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.formulas-welcome-container picture {
    width: auto;
    height: auto;
    grid-column: 1;
}
.formulas-welcome-container picture .formulas--flash {
    width: 128px;
    height: 128px;
}
.formulas-welcome-container .formulas-content-container {
    width: auto;
    height: auto;
    grid-column: 2;
}
.formulas--title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--dark-purple);
    margin-bottom: 12px;
}
.formulas-welcome-container .formulas-content-container .welcome--flash {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--dark-purple-less);
    margin-bottom: 24px;
}
.welcome--button-container,
.result--button-container {
    width: auto;
    height: auto;
}
.welcome--button-container .welcome--button,
.result--button-container .restart--button {
    width: 100%;
    height: auto;
    background-color: var(--purple-less);
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}
.welcome--button-container .welcome--button:hover,
.result--button-container .restart--button:hover {
    cursor: pointer;
    background-color: var(--dark-purple);
}
.formulas-selection-container {
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.12); 
}
.formulas-selection-container .formulas-selection--content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulas-selection--content picture {
    width: auto;
    height: auto;
    margin-right: 20px;
}
.formulas-selection--content picture img {
    width: 100px;
    height: 100px;
}
.formulas-selection-container .formulas-selection--types {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-top: 20px;
}
.formulas-selection-container .formulas-selection--types .formulas--types {
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 16px;
}
.formulas-selection-container .formulas-selection--types .formulas--types:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}
.formulas-selection--types .formulas--types figure {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin-bottom: 32px;
}
.formulas-selection--types .formulas--types figure img {
    width: 24px;
    height: 24px;
}
.formulas-selection--types .formulas--types .formulas--types-title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--dark-purple);
    margin-bottom: 8px;
}
.formulas-selection-container .formulas--types .formulas--types-p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--dark-purple-less);
}

.formulas-question-container {
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.12); 
}
.formulas-question-container .formulas-question--content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulas-question--content picture {
    width: auto;
    height: auto;
    margin-right: 20px;
}
.formulas-question--content picture img {
    width: 100px;
    height: 100px;
}
.formulas-question-container .formulas-question--form {
    width: auto;
    height: auto;
    margin-top: 20px;
}
.formulas-question-container .formulas-question--form .formulas-question--p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--dark-purple-less);
    margin-bottom: 20px;
}
.formulas-question-container .formulas-question--form ul {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.formulas-question-container .formulas-question--form li {
    list-style: none;
    height: auto;
}
.formulas-question-container .formulas-question--form .formulas-form--01 {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding-left: 16px;
}
.formulas-question-container .formulas-question--form .formulas-form--01:focus-within {
    border: var(--dark-purple-less) solid 2px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px, rgba(0, 0, 0, 0.08) 0px 10px 10px -5px;
}
.formulas-question-container .formulas-question--form .formulas-form--01 div {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.formulas-question--form .formulas-form--01 .formulas-form--p {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-purple-less);
}
.formulas-question-container .formulas-question--form .formulas-form--02 {
    width: 72%;
}
.formulas-question-container .formulas-question--form .formulas-form--money {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-purple-less);
    padding-top: 1px;
}
.formulas-question-container .formulas-question--form .formulas-form--money:focus {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
.formulas-question-container .formulas-question--form .formulas-form--button {
    width: 100%;
    height: auto;
    background-color: var(--purple-less);
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}
.formulas-question-container .formulas-question--form .formulas-form--button:hover {
    cursor: pointer;
    background-color: var(--dark-purple);
}
.formulas-result-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.formulas-result-container picture {
    width: auto;
    height: auto;
    grid-column: 1;
}
.formulas-result-container picture img {
    width: 128px;
    height: 128px;
}
.formulas-result-container .formulas-result--content {
    width: auto;
    height: auto;
    grid-column: 2;
}
.formulas-result-container .formulas-result--content .formulas-result--p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--dark-purple-less);
    margin-bottom: 24px;
}
.formulas-result-container .formulas-result--content .formulas-result--types {
    width: auto;
    max-height: 180px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 16px;
    margin-bottom: 24px;
    overflow-y: scroll;
}
.formulas-result-container .formulas-result--content .formulas-result--types::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
.formulas-result-container .formulas-result--content .formulas-result--types::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);;
    border-radius: 16px;
    border: 3px solid transparent;
}
.formulas-result--content .formulas-result--types p {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--dark-purple-less);
}